*{
    
    position: inherit;
    align-items: center;
    justify-items: center;
}
.title{
    text-align: center;
}
.switch-field {
    
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
    margin: 0 0 10px;
    padding: 10px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #e8c9fc;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.form {
	max-width: 270px;
	font-family:'Courier New', Courier, monospace;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding:10px 0 20px 60px; 
	z-index: 2;
    background-color: white;
    border-radius: 30px;
}

h2 {
	font-size: 18px;
	margin-bottom: 8px;
}
.area{
  font-family:'Courier New', Courier, monospace;
  outline: 0;
  background: #f2f2f2;
  width: 76%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  border-radius: 5px;
}

.location{
  font-family:'Courier New', Courier, monospace;
  outline: 0;
  background: #f2f2f2;
  width: 76%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 40px;
  border-radius: 5px;
}

.submit{
  background: #8c00ff;
  width: 76%;
  border: 0;
  margin: 25px 0 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  cursor:pointer;
}

.result{
		background: #dbb5ff;
		width: 75%;
		border: 0;
        
		margin: 25px 0 10px;
		box-sizing: border-box;
        justify-content: center;
		font-size: 15px;
		height: 35px;
		text-align: center;
}

.bg {
    background: linear-gradient(217deg, rgba(255, 179, 198, 0.8), rgba(255, 146, 146, 0.685) 70.71%),
    linear-gradient(127deg, rgb(255, 235, 168), rgb(222, 181, 250) 70.71%),
    linear-gradient(336deg, rgb(218, 255, 207), rgb(255, 215, 170) 70.71%);
    background-size: auto;
    background-size:100% 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(3px);
     -ms-filter: blur(3px);
    filter: blur(20px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

body, html {
    padding-top:7vh;
    
}